@{
    ViewData["Title"] = "Clientes";
}

@section Scripts {
    <script src="~/js/Customer.js?v=@DateTime.Now.Ticks"></script>
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Clientes</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Clientes</li>
            </ul>
        </div>
        <div class="col-auto">
            <a href="/Customer/AddCustomer" class="btn btn-primary me-1">
                <i class="fas fa-plus"></i> Registrar
            </a>
            <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                <i class="fas fa-filter"></i> Filtrar
            </a>
        </div>
    </div>
</div>

<div id="filter_inputs" class="card filter-card">
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label>Código</label>
                    <input type="text" class="form-control" id="filterCodigo">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="filterNombre">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label>RTN</label>
                    <input type="text" class="form-control" id="filterRTN">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" id="filterEmail">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-center table-hover datatable" id="clientesTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>RTN</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Saldo</th>
                                <th>Registrado</th>
                                <th class="text-end">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>