/* _content/Conta-PosTrax/Views/Shared/Components/Menu/Default.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6ysneshpzt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6ysneshpzt] {
  color: #0077cc;
}

.btn-primary[b-6ysneshpzt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6ysneshpzt], .nav-pills .show > .nav-link[b-6ysneshpzt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6ysneshpzt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6ysneshpzt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6ysneshpzt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6ysneshpzt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6ysneshpzt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Conta-PosTrax/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6garuivy20] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6garuivy20] {
  color: #0077cc;
}

.btn-primary[b-6garuivy20] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6garuivy20], .nav-pills .show > .nav-link[b-6garuivy20] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6garuivy20] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6garuivy20] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6garuivy20] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6garuivy20] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6garuivy20] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Conta-PosTrax/Views/Shared/_LayoutEmpty.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vlbn150kml] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vlbn150kml] {
  color: #0077cc;
}

.btn-primary[b-vlbn150kml] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vlbn150kml], .nav-pills .show > .nav-link[b-vlbn150kml] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vlbn150kml] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vlbn150kml] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vlbn150kml] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vlbn150kml] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vlbn150kml] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Conta-PosTrax/Views/Shared/_NavBarLateral.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rnqwf1rxlo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rnqwf1rxlo] {
  color: #0077cc;
}

.btn-primary[b-rnqwf1rxlo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rnqwf1rxlo], .nav-pills .show > .nav-link[b-rnqwf1rxlo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rnqwf1rxlo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rnqwf1rxlo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rnqwf1rxlo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rnqwf1rxlo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rnqwf1rxlo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Conta-PosTrax/Views/Shared/_NavBarTop.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-s3umf7rc9s] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-s3umf7rc9s] {
  color: #0077cc;
}

.btn-primary[b-s3umf7rc9s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-s3umf7rc9s], .nav-pills .show > .nav-link[b-s3umf7rc9s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-s3umf7rc9s] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-s3umf7rc9s] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-s3umf7rc9s] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-s3umf7rc9s] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-s3umf7rc9s] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
