<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Conta-PosTrax</title>
    <script type="importmap"></script>

    @* CSS Plantilla *@
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/css/style.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/css/notyf.min.css?v=@(DateTime.Now.Ticks)" />

    @RenderSection("Styles", required: false)
</head>
<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">
    <div class="main-wrapper">
        @* NavBarTop *@
        @await Html.PartialAsync("_NavBarTop")

        @* NavBarTop *@
        @await Html.PartialAsync("_NavBarLateral")

        <div class="page-wrapper">
            <div class="content container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        @*
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - Conta-PosTrax - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer> 
        *@
    </div>

    @* Scripts Plantilla *@
    <script src="~/assets/js/jquery.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/js/feather.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/js/script.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/js/site.js?v=@(DateTime.Now.Ticks)" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.min.js?v=@(DateTime.Now.Ticks)" asp-append-version="true"></script>
    <script src="~/js/notyf.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/js/ToastMessage.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/js/main.js?v=@(DateTime.Now.Ticks)"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
