<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Conta-PosTrax</title>
    <script type="importmap"></script>

    @* CSS Plantilla *@
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/assets/css/style.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sweetalert.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/css/notyf.min.css?v=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css?v=@(DateTime.Now.Ticks)" />

    @RenderSection("Styles", required: false)
</head>
<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">
    @*   
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Conta_PosTrax</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> 
    *@

    <div class="main-wrapper">
        @* NavBarTop *@
        @await Html.PartialAsync("_NavBarTop")

        @* NavBarTop *@
        @await Html.PartialAsync("_NavBarLateral")

        <div class="page-wrapper">
            <div class="content container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        @*
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - Conta-PosTrax - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer> 
        *@
    </div>

    @* Scripts Plantilla *@
    <script src="~/assets/js/jquery.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/js/feather.min.js?v=@(DateTime.Now.Ticks)"></script>

    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/assets/js/script.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notyf.min.js?v=@(DateTime.Now.Ticks)"></script>
    <script src="~/js/ToastMessage.js?v=@(DateTime.Now.Ticks)"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
