@* Views/Shared/_NavBarLateral.cshtml *@
<div class="leftside-menu">
    <!-- LOGO -->
    <a href="/Dashboard" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="~/img/logo.png" alt="Logo" height="20">
        </span>
        <span class="logo-sm">
            <img src="~/img/logo.png" alt="Logo" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar>
        @await Component.InvokeAsync("Menu")
    </div>
    <div class="clearfix"></div>
</div>